
.sidebar {
    background-color: rgb(1, 1, 126);
    position: absolute;
    right: 0;
    top: 50px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    transition: all 0.3s ease;
    width: 13vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0px 0px 7px 7px; 
    height: 100vh;
}

.sidebar.active {
    width: 5vw;
}

.sidebar ul li {
    display: flex;
    line-height: 30px;
    justify-content: space-around;
    /* background-color: red; */
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ease-in-out;
    height: 50px;
    width: 11vw;
    align-items: center;
}

.sidebar.active ul li {
    width: 50px;
    height: 50px;
    transition: all 0.3s ease-in-out;
}

.sidebar ul li:hover {
    background-color: rgb(162, 0, 255);
    color: rgb(255, 255, 255);
}
.sidebar ul li img {
    height: 30px;
    transition: all 0.2s ease;
}

.sidebar.active .extra {
    background-color: rgb(162, 0, 255);
    border-radius: 7px;
    padding: 5px 10px;
    color: white;
    /* transition: all 0.3s ease-in-out; */
}


.extra {
    font-size: 20px;
    transition: all 0.5s ease-in;
}

.links {
    position: absolute;
    top: 70%;
}

li a {
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sidebar.active ul li:hover .extra {
    display: block;
    position: absolute;
    right: 8vw;
    /* top: 15px; */
}

.sidebar.active .extra{
    display: none;
}

ul li a img:active {
    transform: scale(0.90) translateY(5%);
}

@media screen and (min-width: 100px) and (max-width: 500px) {
    .sidebar {
        width: 40vw;
    }
    .sidebar.active {
        width: 7vw;
    }
    .sidebar ul li {
        width: 38vw;
    }
    .sidebar.active ul li:hover .extra {
        right: 18vw;
    }
}

@media screen and (min-width: 501px) and (max-width: 950px){
    .sidebar {
        width: 25vw;
    }
    .sidebar.active {
        width: 8vw;
    }
    nav .menu img {
        display: block;
    }
}